<template>
    <v-container>
        <v-layout row wrap>
            <v-flex xs6 offset-xs3>
                <h1>Login</h1>
                <v-text-field
                        label="Email"
                        :value="loginEmail"
                        @input="setLoginEmail"
                ></v-text-field>

                <v-text-field
                        label="Password"
                        type="password"
                        autocomplete="new-password"
                        :value="loginPassword"
                        @input="setLoginPassword"
                ></v-text-field>

                <v-alert type="error" :value="loginError">
                    {{loginError}}
                </v-alert>

                <v-btn color="green" dark @click="login">
                    <v-icon>fingerprint</v-icon>
                    Login
                </v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
    computed: {
        // use :value to tell vuex (store) that the value
        // of authentication.loginEmail/Password is bound to them
        ...mapState('authentication', [
            'loginEmail', 'loginPassword', 'loginError',
        ]),
    },
    methods: {
        // use @input to tell the input field it should use the function
        // authentication.setloginEmail/Password to update the store
        ...mapMutations('authentication', [
            'setLoginEmail', 'setLoginPassword',
        ]),
        // Bind the @click to authentication.login
        ...mapActions('authentication', [
            'login',
        ]),
    },
};
</script>
