<template>
    <v-container>
        <v-layout row wrap>
            <v-flex xs6 offset-xs3>
                <h1>Register</h1>
                <v-text-field
                        label="Email"
                        :value="registerEmail"
                        @input="setRegisterEmail"
                ></v-text-field>

                <v-text-field
                        label="Password"
                        type="password"
                        autocomplete="new-password"
                        :value="registerPassword"
                        @input="setRegisterPassword"
                ></v-text-field>

                <v-alert type="error" :value="registerError">
                    {{registerError}}
                </v-alert>

                <v-btn color="green" dark @click="register">
                    <v-icon>account_circle</v-icon>
                    Register
                </v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex';

export default {
    computed: {
        // use :value to tell vuex (store) that the value
        // of authentication.registerEmail/Password is bound to them
        ...mapState('authentication', [
            'registerEmail', 'registerPassword', 'registerError',
        ]),
    },
    methods: {
        // use @input to tell the input field it should use the function
        // authentication.setRegisterEmail/Password to update the store
        ...mapMutations('authentication', [
            'setRegisterEmail', 'setRegisterPassword',
        ]),
        // Bind the @click to authentication.register
        ...mapActions('authentication', [
            'register',
        ]),
    },
};
</script>
