<template>
    <v-layout>
        <v-flex xs9 class="text-xs-left">
            <slot></slot>
            <span v-if="!isEditMode" @click="$emit('onClick')">
                {{title}}
            </span>
            <v-text-field
                    v-if="isEditMode"
                    :value="title"
                    @keyup.enter="$emit('onSave')"
                    @input="$emit('onInput', $event)"
                    autofocus
            ></v-text-field>
        </v-flex>
        <v-flex xs3 class="text-xs-right">
            <v-icon
                    v-if="!isEditMode"
                    @click="$emit('onEdit')">
                edit
            </v-icon>

            <v-icon
                    v-if="isEditMode"
                    @click="$emit('onSave')">
                check
            </v-icon>
            <v-icon
                    v-if="!isEditMode"
                    @click="$emit('onDelete')">
                delete
            </v-icon>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
    props: [
        'isEditMode',
        'title',
    ],
};
</script>

<style scoped>

</style>
