<template>
    <Panel title="Projects">
        <div class="project mt-2" v-for="project in projects" v-bind:key="project.id">
            <EditableRecord
                    :isEditMode="project.isEditMode"
                    :title="project.title"
                    @onInput="setProjectTitle({ project, title: $event })"
                    @onClick="projectClicked(project)"
                    @onEdit="setEditMode(project)"
                    @onSave="saveProject(project)"
                    @onDelete="deleteProject(project)"
            ></EditableRecord>
        </div>
        <CreateRecord
                placeholder="project name..."
                @onInput="setNewProjectName"
                :value="newProjectName"
                @create="createProject"
        ></CreateRecord>
    </Panel>
</template>

<script>
import { mapMutations, mapState, mapActions } from 'vuex';
import CreateRecord from '@/components/CreateRecord.vue';
import EditableRecord from '@/components/EditableRecord.vue';

export default {
    components: {
        EditableRecord,
        CreateRecord,
    },
    computed: {
        ...mapState('projects', [
            'newProjectName', 'projects',
        ]),
    },
    mounted() {
        this.fetchProjects();
    },
    methods: {
        projectClicked(project) {
            this.setCurrentProject(project);
            this.fetchTasksForProject(project);
        },
        ...mapMutations('projects', [
            'setNewProjectName',
            'setEditMode',
            'setProjectTitle',
            'setCurrentProject',
        ]),
        ...mapActions('projects', [
            'createProject',
            'fetchProjects',
            'saveProject',
            'deleteProject',
        ]),
        ...mapActions('tasks', [
            'fetchTasksForProject',
        ]),
    },
};

</script>

<style>
.project {
    font-size: 18px;
}
</style>
