<template>
    <Panel title="Task">
        <div class="task mt-2" v-for="task in tasks" v-bind:key="task.id">
            <EditableRecord
                    :isEditMode="task.isEditMode"
                    :title="task.description"
                    @onInput="setTaskDescription({ task, description: $event })"
                    @onEdit="setEditMode(task)"
                    @onSave="saveTask(task)"
                    @onDelete="deleteTask(task)"
            >
                <v-icon
                    @click="checkClicked(task)"
                >
                    {{ task.completed? 'check_box' : 'check_box_outline_blank'}}
                </v-icon>
            </EditableRecord>

        </div>
        <CreateRecord
                placeholder="I need to do..."
                @onInput="setNewTaskName"
                :value="newTaskName"
                @create="createTask"
        ></CreateRecord>
    </Panel>
</template>

<script>
import { mapMutations, mapState, mapActions } from 'vuex';
import CreateRecord from '@/components/CreateRecord.vue';
import EditableRecord from '@/components/EditableRecord.vue';

export default {
    components: {
        CreateRecord,
        EditableRecord,
    },
    computed: {
        ...mapState('tasks', [
            'tasks',
            'newTaskName',
        ]),
    },
    methods: {
        checkClicked(task) {
            this.toggleCompleted(task);
            this.saveTask(task);
        },
        ...mapActions('tasks', [
            'createTask',
            'saveTask',
            'deleteTask',
        ]),
        ...mapMutations('tasks', [
            'setNewTaskName',
            'setTaskDescription',
            'setEditMode',
            'toggleCompleted',
        ]),
    },
};
</script>
